node_modules
**/es
**/lib
hview-ui
coverage
*.log
examples/dist  
cache
site/**/dist
packages/utils/**/dist
packages/**/dist
# packages/**/dist
package-lock.json
# pnpm-lock.yaml
package-lock.json 
# .github