:root {
  --color-primary: #409eff;
}
.h-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.h-button .h-button-text {
  display: inline-block;
  margin: 0 4px;
}
.h-button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.h-button.is-disabled {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: #fff;
  border-color: #ebeef5;
}
.h-button--primary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: #409eff;
}
.h-button--primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
.h-button--primary.is-plain {
  color: #409eff;
  background: #ecf5ff;
  border-color: #b3d8ff;
}
.h-button--primary.is-plain:hover {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.h-button--primary.is-disabled,
.h-button--primary.is-disabled:active,
.h-button--primary.is-disabled:focus,
.h-button--primary.is-disabled:hover {
  color: #fff;
  background-color: #a0cfff;
  border-color: #a0cfff;
}
.h-button--primary.is-disabled.is-plain,
.h-button--primary.is-disabled.is-plain:active,
.h-button--primary.is-disabled.is-plain:focus,
.h-button--primary.is-disabled.is-plain:hover {
  color: #8cc5ff;
  background-color: #ecf5ff;
  border-color: #d9ecff;
}
.h-button--text {
  border-color: transparent;
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}
.h-button--text:hover {
  color: #66b1ff;
  border-color: transparent;
  background-color: transparent;
}
.h-button--success {
  color: #fff;
  background-color: #67c23a;
  border-color: #67c23a;
}
.h-button--success:hover {
  background: #85ce61;
  border-color: #85ce61;
  color: #fff;
}
.h-button--success.is-plain {
  color: #67c23a;
  background: #f0f9eb;
  border-color: #c2e7b0;
}
.h-button--success.is-plain:hover {
  color: #fff;
  background-color: #67c23a;
  border-color: #67c23a;
}
.h-button--success.is-disabled,
.h-button--success.is-disabled:active,
.h-button--success.is-disabled:focus,
.h-button--success.is-disabled:hover {
  color: #fff;
  background-color: #b3e19d;
  border-color: #b3e19d;
}
.h-button--success.is-disabled.is-plain,
.h-button--success.is-disabled.is-plain:active,
.h-button--success.is-disabled.is-plain:focus,
.h-button--success.is-disabled.is-plain:hover {
  color: #a4da89;
  background-color: #f0f9eb;
  border-color: #e1f3d8;
}
.h-button--info {
  color: #fff;
  background-color: #909399;
  border-color: #909399;
}
.h-button--info:hover {
  background: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
}
.h-button--info.is-plain {
  color: #909399;
  background-color: #f4f4f5;
  border-color: #d3d4d6;
}
.h-button--info.is-plain:hover {
  color: #fff;
  background-color: #909399;
  border-color: #909399;
}
.h-button--info.is-disabled,
.h-button--info.is-disabled:active,
.h-button--info.is-disabled:focus,
.h-button--info.is-disabled:hover {
  color: #fff;
  background-color: #c8c9cc;
  border-color: #c8c9cc;
  cursor: not-allowed;
}
.h-button--info.is-disabled.is-plain,
.h-button--info.is-disabled.is-plain:active,
.h-button--info.is-disabled.is-plain:focus,
.h-button--info.is-disabled.is-plain:hover {
  color: #bcbec2;
  background-color: #f4f4f5;
  border-color: #e9e9eb;
}
.h-button--warning {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.h-button--warning:hover {
  background: #ebb563;
  border-color: #ebb563;
  color: #fff;
}
.h-button--warning.is-plain {
  color: #e6a23c;
  background: #ecf5ff;
  border-color: #b3d8ff;
}
.h-button--warning.is-plain:hover {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.h-button--warning.is-disabled,
.h-button--warning.is-disabled:active,
.h-button--warning.is-disabled:focus,
.h-button--warning.is-disabled:hover {
  color: #fff;
  background-color: #f3d19e;
  border-color: #f3d19e;
}
.h-button--warning.is-disabled.is-plain,
.h-button--warning.is-disabled.is-plain:active,
.h-button--warning.is-disabled.is-plain:focus,
.h-button--warning.is-disabled.is-plain:hover {
  color: #f0c78a;
  background-color: #fdf6ec;
  border-color: #faecd8;
}
.h-button--danger {
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}
.h-button--danger:hover {
  background: #f78989;
  border-color: #f78989;
  color: #fff;
}
.h-button--warning.is-plain {
  color: #f56c6c;
  background: #fef0f0;
  border-color: #fbc4c4;
}
.h-button--warning.is-plain:hover {
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}
.h-button--danger.is-disabled,
.h-button--danger.is-disabled:active,
.h-button--danger.is-disabled:focus,
.h-button--danger.is-disabled:hover {
  color: #fff;
  background-color: #fab6b6;
  border-color: #fab6b6;
}
.h-button--danger.is-disabled.is-plain,
.h-button--danger.is-disabled.is-plain:active,
.h-button--danger.is-disabled.is-plain:focus,
.h-button--danger.is-disabled.is-plain:hover {
  color: #f9a7a7;
  background-color: #fef0f0;
  border-color: #fde2e2;
}
.is-round {
  border-radius: 20px;
}
.h-button--medium {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.h-button--small {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
}
.h-button--mini {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;
}
