@import "common/icon.less";
@import "common/color.less";
@import "mixins/config.less";
@import "mixins/mixins.less";

html.dark {
  .@{namespace}-header,
  .@{namespace}-footer {
    color: #e5eaf3;
    background-color: #213d5b;
  }

  .@{namespace}-aside {
    color: #e5eaf3;
    background-color: #1d3043;
  }

  .@{namespace}-main {
    color: #e5eaf3;
    background-color: #18222c;
  }
}

.@{namespace}-container {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-basis: auto;
  flex-direction: row;
  min-width: 0;
}

.@{namespace}-container-horizontal {
  flex-direction: column;
}

.@{namespace}-header {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  padding: 0 20px;
  background-color: #c6e2ff;
}

.@{namespace}-aside {
  box-sizing: border-box;
  flex-shrink: 0;
  min-height: 60px;
  overflow: auto;
  background-color: #d9ecff;
}

.@{namespace}-main {
  box-sizing: border-box;
  display: block;
  flex: 1;
  flex-basis: auto;
  min-height: 60px;
  padding: 20px;
  overflow: auto;
  background-color: #ecf5ff;
}

.@{namespace}-footer {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  padding: 0 20px;
  background-color: #c6e2ff;
}
