@import "common/icon.less";
@import "common/color.less";
@import "mixins/config.less";
@import "mixins/mixins.less";

.@{namespace}-image {
  position: relative;
  width: 100%;
  height: 100%;

  .wrapper {
    .placeholder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .hview-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .main-img {
    width: 100%;
    height: 100%;
  }

  .lazy-imgs {
    width: 100%;
    height: 100%;
  }
}
