@import "common/icon.less";
@import "common/color.less";
@import "mixins/config.less";
@import "mixins/mixins.less";

.@{namespace}image {
  width: 100%;
  height: 100%;

  .main-img {
    width: 100%;
    height: 100%;
  }

  .lazy-imgs {
    width: 100%;
    height: 100%;
  }
}
