@import "common/icon.less";
@import "common/color.less";
@import "mixins/config.less";
@import "mixins/mixins.less";

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  background: #fff;
  box-shadow: 2px 2px 20px 1px;
}

.modal-header,
.modal-footer {
  display: flex;
  padding: 15px;
}

.modal-header {
  position: relative;
  justify-content: space-between;
  color: #4aae9b;
  border-bottom: 1px solid #eee;
}

.modal-footer {
  flex-direction: column;
  justify-content: flex-end;
  border-top: 1px solid #eee;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  color: #4aae9b;
  cursor: pointer;
  background: transparent;
  border: none;
}

.btn-green {
  margin-top: 10px;
  color: white;
  cursor: pointer;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}
