@import "common/icon.less";
@import "common/color.less";
@import "mixins/config.less";
@import "mixins/mixins.less";

.@{namespace}-tree {
  position: relative;
  color: #606266;
  cursor: default;
}

.@{namespace}-tree-node {
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  outline: none;
}

.@{namespace}-tree-node__content {
  display: flex;
  align-items: center;
  height: 26px;
  cursor: pointer;

  &:hover {
    background: var(--hv-tree-hover-color);
  }
}

.@{namespace}-tree-node__expand-icon {
  // 覆盖docs的全局样式
  box-sizing: content-box !important;
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 6px;
  line-height: 14px;
  color: #c0c4cc;
  cursor: pointer;
  transition: all 0.2s ease;
}

.expanded {
  transform: rotate(90deg);
}

.@{namespace}-tree-node-checkbox {
  margin-right: 0;
}

.@{namespace}-tree-ul-box {
  padding-left: 20px;
}

@keyframes loading-item {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loading-item div {
  position: absolute;
  top: 24px;
  left: 47px;
  box-sizing: content-box;
  width: 6px;
  height: 12px;
  background: #fe718d;
  border-radius: 3px / 5.28px;
  transform-origin: 3px 26px;
  animation: loading-item linear 1s infinite;
}

.loading-item div:nth-child(1) {
  background: #fe718d;
  transform: rotate(0deg);
  animation-delay: -0.9167s;
}

.loading-item div:nth-child(2) {
  background: #fe718d;
  transform: rotate(30deg);
  animation-delay: -0.8333s;
}

.loading-item div:nth-child(3) {
  background: #fe718d;
  transform: rotate(60deg);
  animation-delay: -0.75s;
}

.loading-item div:nth-child(4) {
  background: #fe718d;
  transform: rotate(90deg);
  animation-delay: -0.6667s;
}

.loading-item div:nth-child(5) {
  background: #fe718d;
  transform: rotate(120deg);
  animation-delay: -0.5834s;
}

.loading-item div:nth-child(6) {
  background: #fe718d;
  transform: rotate(150deg);
  animation-delay: -0.5s;
}

.loading-item div:nth-child(7) {
  background: #fe718d;
  transform: rotate(180deg);
  animation-delay: -0.4167s;
}

.loading-item div:nth-child(8) {
  background: #fe718d;
  transform: rotate(210deg);
  animation-delay: -0.3333s;
}

.loading-item div:nth-child(9) {
  background: #fe718d;
  transform: rotate(240deg);
  animation-delay: -0.25s;
}

.loading-item div:nth-child(10) {
  background: #fe718d;
  transform: rotate(270deg);
  animation-delay: -0.1666s;
}

.loading-item div:nth-child(11) {
  background: #fe718d;
  transform: rotate(300deg);
  animation-delay: -0.0833s;
}

.loading-item div:nth-child(12) {
  background: #fe718d;
  transform: rotate(330deg);
  animation-delay: 0s;
}

.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: #fff;
}

.loading-item {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateZ(0) scale(0.3);
  transform-origin: 0 0; /* see note above */
  backface-visibility: hidden;
}
