@import "../../../common/index.less";

.h-from-input {
  position: relative;
  display: inline-block;
}

.h-input {
  padding: 7px 10px;
  border: 1px solid #colors[-line-color];
  border-radius: 4px;
  font-size: 12px;
  transition-property: border-color, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  color: #ffffff;
  background-color: transparent;
}
