@prefix: h;

:root {
  // 正常颜色
  --color-default: #e3eaef;
  --color-primary: #409eff;
  --color-success: #67c23a;
  --color-info: #909399;
  --color-danger: #f56c6c;
  --color-warning: #e6a23c;

  // 选中时的高亮
  --color-hover-primary: #66b1ff;
  --color-hover-success: #95d475;
  --color-hover-info: #b1b3b8;
  --color-hover-danger: #f89898;
  --color-hover-warning: #eebe77;
  // 禁选
  --color-disabled-primary: #a0cfff;
  --color-disabled-success: #b3e19d;
  --color-disabled-info: #c8c9cc;
  --color-disabled-danger: #f3d19e;
  --color-disabled-warning: #fab6b6;
}

#colors() {
  primary: var(--color-primary);
  success: var(--color-success);
  info: var(--color-info);
  danger: var(--color-danger);
  warning: var(--color-warning);

  -primary-hover: var(--color-hover-primary);
  -success-hover: var(--color-hover-success);
  -info-hover: var(--color-hover-info);
  -danger-hover: var(--color-hover-danger);
  -warning-hover: var(--color-hover-warning);

  -primary-disabled: var(--color-disabled-primary);
  -success-disabled: var(--color-disabled-success);
  -info-disabled: var(--color-disabled-info);
  -danger-disabled: var(--color-disabled-danger);
  -warning-disabled: var(--color-disabled-warning);

  -line-color: rgb(var(--color-default));
}
