.h-radio {
  width: 100%;
  height: auto;
  overflow: hidden;
  .h-item-radio {
    align-items: center;
    width: auto;
    height: auto;
    margin-right: 15px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    span {
      display: inline-block;
      width: 14px;
      height: 14px;
      position: relative;
      border: 1px solid rgb(144, 138, 138);
      border-radius: 50%;
      background-color: white;
      transition: transform 0.15s ease-in;

      &::after {
        width: 4px;
        height: 4px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        border-radius: 50%;
        content: "";
        background-color: white;
        transition: transform 0.15s ease-in;
      }
    }
    span.active {
      background-color: #0e80eb;
      border: 1px solid #0e80eb;
    }
  }
  .h-item-disabled-radio {
    color: #808080;
    cursor: no-drop;
    span {
      background: #808080;
      &::after {
        background-color: white;
      }
    }
  }
}
