.h-backtop {
  position: fixed;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--hv-bg-color-overlay);
  color: var(--hv-color-primary);
  box-shadow: var(--hv-box-shadow-lighter);
  font-size: 20px;
  cursor: pointer;
  z-index: 99;
}
