.dark {
  --vp-c-bg-alt: rgb(36, 36, 36) !important; // 深色模式侧边栏
  .VPNavBarTitle{
    .title{
      color:#5d80f4 !important;
    }
  }
  .VPSidebarGroup {
    .VPLink{
      &.active {
        background: rgba(64, 158, 255, .1) !important;
      }
    }
  }
  .example{
    border:1px solid rgba(84, 84, 84, 0.48);
  }
  p.details{
    border: 0;
  }
  .details{
    border:1px solid rgb(63, 63, 63);
    // background: transparent;
    summary{
      // border: 1px solid rgba(84, 84, 84, 0.48);
      // border: 1px solid rgba(84, 84, 84, 0.48);
      background: #232323 !important;
    }
  }
  .custom-block{
    background: #232323 !important;
  }
  .icon_content{
    border-left: 1px solid rgb(63, 63, 63);
    border-top: 1px solid rgb(63, 63, 63);
    .icon_list{
      border-right: 1px solid rgb(63, 63, 63);
      border-bottom: 1px solid rgb(63, 63, 63);
    }
  }
}
