dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.h-image-viewer .content {
  width: 1000px;
  height: 600px;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-image-viewer .content .arrowLeft {
  position: absolute;
  top: 50%;
  left: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(168, 171, 178, 0.6);
  border-radius: 50%;
  z-index: 1;
}
.h-image-viewer .content .arrowRight {
  position: absolute;
  top: 50%;
  right: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(168, 171, 178, 0.6);
  border-radius: 50%;
  z-index: 1;
}
.h-image-viewer .content .actions {
  height: 50px;
  width: 390px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(168, 171, 178, 0.6);
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  z-index: 1;
}
.h-image-viewer .content .actions .hview-icon {
  cursor: pointer;
}
.h-image-viewer .content .canvs {
  --scale: 1;
  --deg: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.h-image-viewer .content .canvs img {
  transform: rotate(var(--deg)) scale(var(--scale));
  width: 800px;
  height: 500px;
}
