@import "../mixins/config.less";

@font-face {
  font-family: Hviewicon; /* Project id 3867051 */
  src: url("//at.alicdn.com/t/c/font_3867051_hlv60jvijrg.woff2?t=1676120542530")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3867051_hlv60jvijrg.woff?t=1676120542530")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3867051_hlv60jvijrg.ttf?t=1676120542530")
      format("truetype");
}

i {
  font-family: Hviewicon !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.@{namespace}-icon-time::before {
  content: "\e735";
}

.@{namespace}-icon-cloud-upload::before {
  content: "\e7d9";
}

.@{namespace}-icon-plus::before {
  content: "\e8fe";
}

.@{namespace}-icon-refresh-left::before {
  content: "\e673";
}

.@{namespace}-icon-refresh-right::before {
  content: "\e677";
}

.@{namespace}-icon-24gl-fullScreenEnter2::before {
  content: "\ea68";
}

.@{namespace}-icon-zoom-in::before {
  content: "\e683";
}

.@{namespace}-icon-zoom-out::before {
  content: "\e684";
}

.@{namespace}-icon-icon-arrow-right2::before {
  content: "\e667";
}

.@{namespace}-icon-xiangxia1::before {
  content: "\e602";
}

.@{namespace}-icon-xiangshang2::before {
  content: "\e603";
}

.@{namespace}-icon-close1::before {
  content: "\e7fc";
}

.@{namespace}-icon-starfill::before {
  content: "\e732";
}

.@{namespace}-icon-test::before {
  content: "\e7e4";
}

.@{namespace}-icon-github::before {
  content: "\e685";
}

.@{namespace}-icon-xiangshang::before {
  content: "\e600";
}

.@{namespace}-icon-xiangxia::before {
  content: "\e601";
}

.@{namespace}-icon-xiangshang1::before {
  content: "\e76d";
}

.@{namespace}-icon-xiala::before {
  content: "\e65c";
}

.@{namespace}-icon-arrow-left2::before {
  content: "\e664";
}

.@{namespace}-icon-arrow-right2::before {
  content: "\e667";
}

.@{namespace}-icon-youjiantou::before {
  content: "\e61e";
}

.@{namespace}-icon-you::before {
  content: "\e706";
}

.@{namespace}-icon-you1::before {
  content: "\e60a";
}

.@{namespace}-icon-fuzhi::before {
  content: "\ec7a";
}

.@{namespace}-icon-code::before {
  content: "\ec83";
}

.@{namespace}-icon-delete::before {
  content: "\e67e";
}

.@{namespace}-icon-share::before {
  content: "\e68b";
}

.@{namespace}-icon-edit::before {
  content: "\ed4f";
}

.@{namespace}-icon-calendar::before {
  content: "\e74a";
}

.@{namespace}-icon-loading::before {
  content: "\e644";
}

.@{namespace}-icon-user::before {
  content: "\e7ae";
}

.@{namespace}-icon-star::before {
  content: "\e7df";
}

.@{namespace}-icon-download::before {
  content: "\e7ef";
}

.@{namespace}-icon-view::before {
  content: "\e69e";
}

.@{namespace}-icon-typescript::before {
  content: "\e6a3";
}

.@{namespace}-icon-link::before {
  content: "\e8c1";
}

.@{namespace}-icon-question::before {
  content: "\e6bd";
}

.@{namespace}-icon-setting::before {
  content: "\e67d";
}

.@{namespace}-icon-close::before {
  content: "\e6a7";
}

.@{namespace}-icon-success::before {
  content: "\e73c";
}

.@{namespace}-icon-error::before {
  content: "\e6c6";
}

.@{namespace}-icon-warning::before {
  content: "\e63f";
}

.@{namespace}-icon-info::before {
  content: "\e637";
}

.@{namespace}-icon-search::before {
  content: "\e741";
}

.@{namespace}-icon-jia::before {
  content: "\eaf3";
}

.@{namespace}-icon-jian::before {
  content: "\eaf5";
}

.@{namespace}-icon-success1::before {
  content: "\e6d0";
}

.@{namespace}-icon-jiahao::before {
  content: "\eaf3";
}

.@{namespace}-icon-jianhao::before {
  content: "\eaf5";
}
.@{namespace}-icon-zoomOut::before {
  content: "\e684";
}

.@{namespace}-icon-zoomIn::before {
  content: "\e683";
}

.@{namespace}-icon-fullScreen::before {
  content: "\ea68";
}

.@{namespace}-icon-refreshRight::before {
  content: "\e677";
}

.@{namespace}-icon-refreshLeft::before {
  content: "\e673";
}

.@{namespace}-icon-cloudUpload::before {
  content: "\e7d9";
}
.@{namespace}-icon-image::before {
  content: "\e6fb";
}
